DROP POLICY IF EXISTS "Admin Global Select on Profiles" ON public.profiles; CREATE OR REPLACE FUNCTION public.is_admin_check() RETURNS BOOLEAN LANGUAGE plpgsql SECURITY DEFINER AS \$\$ BEGIN RETURN EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role = 'admin'); END; \$\$; CREATE POLICY "Admin Global Select on Profiles" ON public.profiles FOR SELECT USING (public.is_admin_check());
